.search:hover{
 color:#61cc23
}

.cursor-pointer { cursor: pointer; }
.hover-shadow:hover { 
  box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}


    body {
      font-family: 'Orbitron', sans-serif;
      background: #020617;
      color: #fff;
    }


     body {
      background-color: #020617;
      color: #fff;
    }

    .card {
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      background-color: #0f172a !important;
      border: none;
      border-radius: 15px;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    }

    .status {
      font-size: 0.9rem;
      font-weight: bold;
    }

    .Alive { color: #22c55e; }
    .Dead { color: #ef4444; }
    .unknown { color: #facc15; }

    .ribbon {
  position: absolute;
  top: 15px;
  left: -40px;
  width: 140px;
  text-align: center;
  color: white;
  font-weight: bold;
  transform: rotate(-45deg);
  z-index: 10;
  padding: 5px 0;
  font-size: 0.8rem;
}

/* Optional: smoother look */
.card {
  position: relative;
  overflow: hidden;
}

.yellowish{
  background: #f19411;
}

.oneCharacterRibon{

   position: absolute;
  top: 15px;
  left: -50px;
  width: 190px;
  text-align: center;
  color: white;
  font-weight: bold;
  transform: rotate(-45deg);
  z-index: 10;
  padding: 6px 0;
  font-size: 0.9rem;
}